@{
    ViewData["Title"] = "Home Page";
}

<div class="top-wrapper">
    <div class="container">
        <div class="top-text">
            <h1>IANM NET</h1>
            <p>Solusi internet <strong>berkualitas</strong> dengan harga terjangkau <br/>untuk seluruh wilayah <strong>Indonesia.</strong></p>
        </div>
    </div>
</div>
<div class="about-wrapper">
    <div class="container">
        <div class="head">
            <h4 class="-shadow-sm">
                Tentang kami
            </h4>
        </div>
        <div class="cont-text">
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                It has survived not only five centuries, but also the leap into electronic typesetting, 
                remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset 
                sheets containing Lorem Ipsum passages, and more recently with desktop publishing software 
                like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
        </div>
    </div>
</div>
<div class="primacy-wrapper">
    <div class="container">
        <div class="primacy">
            <div class="primacy-item">
                <h5 class="primary-head">Jaringan kami hadir di seluruh <strong>INDONESIA</strong>, akses internet <strong>SUPER CEPAT</strong> untuk kebutuhan download, browsing, dan gaming kamu.</h5>
            </div>
            <div class="primacy-item">
                <img src="/img/speed.svg">
            </div>
            <div class="primacy-item">
                <img src="~/img/server-amico.svg">
            </div>
            <div class="primacy-item">
                <h5 class="primary-head">Dukungan <strong>24 Jam</strong>  penuh dari tim <strong>PROFESIONAL</strong>, untuk menjamin anda dalam berselancar internet.</h5>
            </div>
        </div>
    </div>
</div>
<div class="btm-wrapper border-top box-shadow">
    <div class="container">
        <div class="btm">
            <div class="btm-list">
                <div class="btm-item">
                    <div class="contact">
                        
                        <h6 class="btm-head">Kontak kami</h6>
                        <i class="fa-solid fa-map-location"></i>
                        <p>Keputih Perintis IV no 5B, Surabaya</p>
                        <i class="fa-solid fa-square-phone"></i>
                        <p>+62953-9878-0271</p>
                        <i class="fa-solid fa-envelope"></i>
                        <p>ianm@gmail.com</p>
                    </div>                 
                </div>
                <div class="btm-item">
                    <div class="menu">
                        <h6 class="btm-head">Menu</h6>
                        <ul>
                            <li>
                                Profile
                            </li>
                            <li>
                                Perusahaan
                            </li>
                            <li>
                                Layanan
                            </li>
                            <li>
                                Team
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="btm-item">
                    <div class="sosmed">
                        <h6 class="btm-head">Media sosial</h6>
                        <div class="sosmed-list">
                            <div class="sosmed-icon">
                                <i class="fa-brands fa-linkedin"></i>
                            </div class="sosmed-icon">
                            <div class="sosmed-icon">
                                <i class="fa-brands fa-instagram-square"></i>
                            </div>
                            <div class="sosmed-icon">
                                <i class="fa-brands fa-twitter-square"></i>
                            </div>
                            <div class="sosmed-icon">
                                <i class="fa-brands fa-facebook-square"></i>
                            </div>
                            
                            
                        </div>   
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>